<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Create Tasks</ion-title>
    <ion-text class="ion-text-center">Optional(2/3)</ion-text>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="visibility: hidden;">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <form [formGroup]="createForm">
          <h2>Time</h2>
          <ion-text class="description">Set a time for the task</ion-text>
        <ion-card class="typingBox">
          <ion-input class="typingInput" type="time" formControlName="Time"></ion-input>
        </ion-card>
        <h2>Repeat</h2>
        <ion-card class="typingBox">
          <ion-fab>
            <ion-fab-button> M
            </ion-fab-button>
          </ion-fab>
        </ion-card>
        
        <h2>Start date</h2>
        <ion-text class="description">Set a start date</ion-text>
        <ion-card class="typingBox">
          <ion-input class="typingInput" type="date" formControlName="StartDate"></ion-input>
        </ion-card>
        <h2>Reminder</h2>
        <ion-text class="description">Set a reminder to go of at: {{sliderText}}</ion-text>
        <ion-card class="typingBox">
          <ion-range aria-label="Range with ticks" formControlName="Reminder" (ionChange)="onIonChange($event)" [ticks]="true" [pinFormatter]="pinFormatter" [pin]="true" [snaps]="true" [min]="0" [max]="6"></ion-range>
        </ion-card>
        
      </form>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab (click)="openNextTaskModal()" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
