<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Location</ion-title>
    <ion-text class="ion-text-center">Optional(3/3)</ion-text>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="visibility: hidden">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" id="map"></div>
  <ion-fab (click)="finishTaskModal()" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
