  <div class="imgcontainer">
    <img src="assets/images/logo1.png" alt="Logo" class="logo">
  </div>

  <form class="container" [formGroup]="loginForm" (ngSubmit)="saveChanges()"> 
    <label for="uname"><b>Username</b></label>
    <ion-input type="text" placeholder="Enter Email" formControlName="email" required>
  </ion-input> 
    <label for="psw"><b>Password</b></label>
    <ion-input type="password" placeholder="Enter Password" name="psw" formControlName="password">
  </ion-input> 
    <ion-button type="submit">Login</ion-button>
    <label>
      <ion-input type="checkbox" checked="checked" name="remember"> Remember me
      </ion-input> </label> 
    </form>

  <div class="container" style="background-color:#000000">
    <ion-button type="button" class="cancelbtn">Cancel</ion-button>
  </div>
