ion-toolbar{
    color: white;
    --ion-toolbar-background: #121212;
}

ion-tabs{
    --ion-tab-bar-color: white;
    --ion-tab-bar-background: #121212;
}

<<<<<<< HEAD
=======
ion-tab-button{
    --color:white;
    --color-selected:#3872D4;
}

>>>>>>> a5a0c275f02acccf8bba53b31c1d4fcbc9a31a95
.signout{
    margin: 20px;
}