ion-toolbar{
    color: white;
    --ion-toolbar-background: #121212;
}

ion-tabs{
    --ion-tab-bar-color: white;
    --ion-tab-bar-background: #121212;
}

ion-tab-button{
    --color:white;
    --color-selected:#3872D4;
}

.signout{
    margin: 20px;
}