    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Manage categories</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button style="visibility: hidden;">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form class="centered-div" [formGroup]="changeForm" (ngSubmit)="createCategory()">
        <ion-row>
          <ion-col class="chips-row" size="12">
            <ion-list>
              <ion-item>
      
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-col class="chips-row" size="12"><ion-button type="submit" class="centered-div-bottom">
          <ion-icon name="create"></ion-icon></ion-button></ion-col>
      </form>
    </ion-content>