<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Create Tasks</ion-title>
    <ion-text class="task-number">(1/3)</ion-text>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="visibility: hidden;"><ion-icon slot="icon-only"
          name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <form [formGroup]="createForm">
          <h2>Title</h2>
          <ion-card class="typingBox">
            <ion-input class="typingInput" type="text" formControlName="Title"></ion-input>
          </ion-card>
          <h2>Description</h2>
          <ion-card class="typingBox">
            <ion-textarea label="Write a helpful description" labelPlacement="floating" [counter]="true" maxlength="100"
              [counterFormatter]="customCounterFormatter" formControlName="Description"></ion-textarea>
          </ion-card>
        </form>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab (click)="openNextTaskModal()" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>